body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #83D3E6;
    color: #333;
}

:root {
    --main-color: #7775E6;
}

header, section, footer {
    margin: 20px auto;
    width: 80%;
    max-width: 960px;
}

header {
    text-align: center;
}

h1 {
    color: var(--main-color);
}

h2 {
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 5px;
}

section {
    background-color: #83B4E5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--main-color);
    color: #fff;
}


#educacion {
    background-color: #f4f4f4;
    padding: 20px;
}

.educacion-container {
    display: flex;
    margin-bottom: 20px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    position: relative;
}

.skill {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    transition: background-color 0.3s ease;
}

.skill:hover {
    transform: translateY(-5px);
    background-color: #C2D8E6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.edu {
    background-color: #83B4E5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

.texto-edu {
    background-color: #7597E6;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    transition: background-color 0.3s ease;
}
.texto-edu:hover {
    background-color: #fff;

}


@media screen and (max-width: 992px) {
    .edu {
        width: 100%; 
    }
    .texto-edu {
        width: 100%; 
    }
}

.job span {
    font-size: 50px;
    margin-bottom: 10px;
}

.experiencia-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.proyectos-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subseccion {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}


.subseccion h3 {
    border-bottom: 2px solid #420e19;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .subseccion {
        width: 100%;
    }
    .exp {
        width: 100%; 
    }
}

.exp {
    background-color: #83B4E5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-bottom: 20px;
    text-align: center;
}

.proy {
    background-color: #83B4E5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin-bottom: 20px;
    text-align: center;
}

#idiomas {
    background-color: #f4f4f4;
    padding: 20px;
}

.languages-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.language {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 180px;
    text-align: center;
}

.language span {
    font-size: 50px;
    margin-bottom: 10px;
}

.proy-skills {
    margin-top: 10px;
}

.proy-skill {
    display: inline-block;
    background-color: #C2D8E6;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.emoji {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}